{{- $dateFormat := site.Params.dateFormat.published | default "Jan 02, 2006" -}}
{{- $publishDate := .PublishDate.Format $dateFormat -}}

<div class="article-time">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <circle cx="12" cy="12" r="9" />
        <polyline points="12,7 12,12 15,15" />
    </svg>

    {{- if ne .Date .PublishDate }}
        <time class="article-time--published">
            {{- T "article.publishedAt" | default "Published at" -}}: {{ $publishDate }}
        </time>
        <time class="article-time--modified">
            {{- T "article.lastUpdatedOn" | default "Updated on" -}}: {{ .Date.Format $dateFormat }}
        </time>
    {{- else }}
        <time class="article-time--published">
            {{ $publishDate }}
        </time>
    {{- end }}
</div>